<section class="container">

  <mat-card>
    <mat-card-title>
      Sign Up
    </mat-card-title>
    <mat-divider></mat-divider>

    <mat-card-content>
      <form #form="ngForm" (ngSubmit)="onSubmit(form)">

        <mat-form-field appearance="standard">
          <mat-label>Age</mat-label>

          <input [(ngModel)]="user.age"
                 required
                 min="18"
                 max="65"
                 matInput
                 type="number"
                 name="age"
                 #age="ngModel">

          <mat-error *ngIf="age.errors?.['required']">Required</mat-error>
          <mat-error *ngIf="age.errors?.['min']">Can't be younger then 18 years old</mat-error>
          <mat-error *ngIf="age.errors?.['max']">Can't be older then 65 years old</mat-error>
        </mat-form-field>

        <mat-form-field appearance="standard">
          <mat-label>Address</mat-label>

          <input [(ngModel)]="user.address"
                 [minLength]="3"
                 required
                 matInput
                 type="text"
                 name="address"
                 #address="ngModel">

          <mat-error *ngIf="address.errors?.['required']">Required</mat-error>
          <mat-error *ngIf="address.errors?.['pattern']">
            Must match password
          </mat-error>
        </mat-form-field>

        <button [disabled]="form.invalid" mat-raised-button color="primary" type="submit">
          Sign In <mat-icon svgIcon="google-icon"></mat-icon>
        </button>
      </form>
    </mat-card-content>
  </mat-card>

</section>
